/**
 * Styles reveal.js repris depuis le thème "simple.css" (reveal.js@v4.6.0)
 *
 * This theme is Copyright (C) 2012 Owen Versteeg, https://github.com/StereotypicalApps. It is MIT licensed.
 * reveal.js is Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 */

section.has-dark-background, section.has-dark-background h1, section.has-dark-background h2, section.has-dark-background h3, section.has-dark-background h4, section.has-dark-background h5, section.has-dark-background h6 {
  color: #fff;
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/

 /* Les variables revealjs sont dans styles/general/_variables.presentation.scss */

.reveal-viewport {
  background: #fff;
  background-color: var(--r-background-color);
}

.reveal {
  font-family: var(--r-main-font);
  font-size: var(--r-main-font-size);
  font-weight: normal;
  color: var(--r-main-color);
}

.reveal ::selection {
  color: var(--r-selection-color);
  background: var(--r-selection-background-color);
  text-shadow: none;
}

.reveal ::-moz-selection {
  color: var(--r-selection-color);
  background: var(--r-selection-background-color);
  text-shadow: none;
}

.reveal .slides {
  text-align: left;
}

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit;
}

/*********************************************
 * DIAPO TITRE
 *********************************************/
.reveal .diapo-titre {
  /* espacement en haut de la diapo de titre */
}
  .reveal .diapo-titre__entete {
    // padding: .5em 0;
  }
  .reveal .diapo-titre__saison {
    margin-inline-start: auto;
  }
  .reveal .diapo-titre__titre-principal {
    margin: 1em 0;
    font-size: var(--r-heading4-size);

    /* appliquer la classe "petites-capitales-entetes" */
    letter-spacing: 0.035em;
    line-height: var(--interlignage-entetes);

    text-decoration-color: var(--couleur-soulignement-liens);
    text-decoration-style: wavy;
    text-decoration-line: underline;
  }

  .reveal .diapo-titre__titre {
    margin: .75em 0 .15em;
    font-size: var(--r-heading1-size);
  }

  .reveal .diapo-titre__description {
    margin-top: 1.5em;
    font-size: 108%;
    font-style: italic;
  }

  .reveal .diapo-titre__details {
    margin-top: 1.5em;
    font-size: 75%;
  }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: var(--r-heading-margin);
  color: var(--r-heading-color);
  font-style: italic;
  font-family: var(--r-heading-font);
  font-weight: var(--r-heading-font-weight);
  line-height: var(--r-heading-line-height);
  letter-spacing: var(--r-heading-letter-spacing);
  text-transform: var(--r-heading-text-transform);
  text-shadow: var(--r-heading-text-shadow);
  word-wrap: break-word;
}

.reveal h1 {
  font-size: var(--r-heading1-size);
}

.reveal h2 {
  font-size: var(--r-heading2-size);
}

.reveal h3 {
  font-size: var(--r-heading3-size);
}

.reveal h4 {
  font-size: var(--r-heading4-size);
}

.reveal h1 {
  text-shadow: var(--r-heading1-text-shadow);
}

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: var(--r-block-margin) 0;
  line-height: 1.3;
}

/* Remove trailing margins after titles */
.reveal h1:last-child,
.reveal h2:last-child,
.reveal h3:last-child,
.reveal h4:last-child,
.reveal h5:last-child,
.reveal h6:last-child {
  margin-bottom: 0;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%;
}

.reveal strong,
.reveal b {
  font-weight: bold;
}

.reveal em {
  font-style: italic;
}

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em;
}

.reveal ol {
  list-style-type: decimal;
}

.reveal ul {
  list-style-type: disc;
}

.reveal ul ul {
  list-style-type: square;
}

.reveal ul ul ul {
  list-style-type: circle;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px;
}

.reveal dt {
  font-weight: bold;
}

.reveal dd {
  margin-left: 40px;
}

.reveal blockquote {
  display: block;
  position: relative;
  max-width: 85%;
  width: auto;
  margin-block: calc(var(--r-block-margin) * 1.5);
  margin-inline: 1em;
  padding: 0 1.5em;

  color: var(--couleur-police-citation);
  border-left: 1px solid var(--couleur-soulignement-liens);
  box-shadow: none;
  font-style: normal;
  font-size: 87.5%;
}

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  // display: inline-block;
}

.reveal blockquote p {
  margin: .75em 0;
  line-height: 1.5;
  font-size: inherit;
}

.reveal blockquote p:first-child {
  margin-block-start: 0;
}
.reveal blockquote p:last-child {
  margin-block-end: 0;
}

.reveal q {
  font-style: italic;
}

/* La plupart des styles de blocs de code sont 
   déjà réglés avec Hugo (Chroma).
*/

/*
`.highlight` renvoie à la surbrillance de code générée
avec Chroma (via Hugo).
Nous ne voulons pas que ce bloc prenne une largeur excessive
*/
.reveal .highlight {
  max-width: 42em;
}

.reveal pre {
//   display: block;
//   position: relative;
  width: 100%;
  margin: var(--r-block-margin) auto;
//   text-align: left;
  font-size: 1em; /* taille de police régulière */
//   font-family: var(--r-code-font);
//   line-height: 1.2em;
//   word-wrap: break-word;
//   box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}

.reveal code {
  padding: 0.11em .35em; /* restituer le padding (annulé par feuille reveal par défaut) */

  font-family: var(--r-code-font);
  font-size: 0.75em;

  // text-transform: none;
  // tab-size: 2;
}

.reveal pre code {
  display: block;
  padding: 0.75em;
  overflow: initial; /* cela nous permettra d'afficher les lignes de code (avec Hugo/Chroma) */
//   max-height: 400px;
//   word-wrap: normal;
}

/* highlight linenos=table */
.reveal .highlight table pre {
  border-radius: 0;
  margin: 0;
  padding: .75em .25em .75em .75em;
}
.reveal .highlight table pre code {
  padding: 0;
}

.reveal .code-wrapper {
  white-space: normal;
}

.reveal .code-wrapper code {
  white-space: pre;
}

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.reveal table th {
  font-weight: bold;
}

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid;
}

.reveal table th[align=center],
.reveal table td[align=center] {
  text-align: center;
}

.reveal table th[align=right],
.reveal table td[align=right] {
  text-align: right;
}

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none;
}

.reveal sup {
  vertical-align: super;
  font-size: smaller;
}

.reveal sub {
  vertical-align: sub;
  font-size: smaller;
}

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top;
}

.reveal small * {
  vertical-align: top;
}

.reveal img {
  margin: var(--r-block-margin) 0;
}

.reveal figure {
  margin: 1rem auto;
}
.reveal figure img {
  display: block;
  /* centrer l'image dans la figure */
  margin-inline: auto;
  margin-block: 0;
}

.reveal figcaption {
  /* distance minimale avec l'image de la figure */
  margin-block-start: .25rem;

  text-align: center;
  font-style: italic;
  font-size: 90%;
}
/* annuler les marges sur les paragraphes dans les légendes */
.reveal figcaption p {
  margin: 0;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: var(--r-link-color);
  text-decoration: underline;
  text-decoration-color: var(--couleur-soulignement-liens);
  transition: color 0.15s ease;
}

.reveal a:hover {
  color: var(--r-link-color-hover);
  text-decoration-color: var(--couleur-soulignement-liens-survol);
  text-shadow: none;
  border: none;
}

.reveal .roll span:after {
  color: #fff;
  background: var(--r-link-color-dark);
}

/*********************************************
 * Frame helper
 *********************************************/
.reveal .r-frame {
  border: 4px solid var(--r-main-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.reveal a .r-frame {
  transition: all 0.15s linear;
}

.reveal a:hover .r-frame {
  border-color: var(--r-link-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: var(--r-link-color);

  font-size: 7px; /* contrôle de la taille relative (en unités "em") */
}
.reveal .controls .controls-arrow {
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: var(--r-link-color);
}

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: var(--r-background-color);
  }
}