:root {
  /* Variables CSS */

  /* Couleurs */
  --marine: #121149;
  --marine-semi-transparent: #12114955;
  --mer: #30395D;
  --rose: #f8cecd;
  --charbon: #212721;
  --violet: #8a2be2;
  --violet-semi-transparent: #8a2be222;

  /* Familles typographiques*/
  --police-corps: 'Latin Modern Roman', 'Computer Modern', Baskerville, serif;
  --police-corps-petites-capitales: 'Latin Modern Roman SC';
  --police-mono: 'IBMPlexMono', 'Latin Modern Mono', San Francisco Mono,Monaco,"Consolas","Lucida Console","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  --police-entetes: var(--police-corps);
  --police-entetes-petites-capitales: 'Latin Modern Roman SC';
  --police-details: var(--police-mono);
  --police-encadre: var(--police-details);

  --couleur-fond: #fff;
  --couleur-police-corps: var(--marine);
  --couleur-police-entetes: var(--couleur-police);
  --couleur-fond-secondaire: #e7e8ec;
  --couleur-police-secondaire: #67686c; /* attention à avoir un contraste d'au moins AA avec couleur-fond-secondaire */
  --couleur-liens: var(--couleur-police);
  --couleur-soulignement-liens: var(--marine-semi-transparent);
  --couleur-soulignement-liens-survol: var(--marine);
  --couleur-police-pre: #cdd6f4; /* voire feuille de style Chroma */
  --couleur-fond-pre: #1e1e2e; /* voire feuille de style Chroma */
  --couleur-police-code: #89dceb; /* ou #cba6f7, voire feuille de style Chroma */
  --couleur-fond-code: var(--couleur-fond-pre);
  --couleur-surtitre: var(--violet);
  --couleur-police-citation: var(--mer);

  --taille-police-corps: 1.25rem; /* 20px */
  --taille-police-citation: 1rem; /* 16px */
  --taille-police-h1: 3rem;
  --taille-police-h2: 2.5rem;
  --taille-police-h3: 1.91rem;
  --taille-police-h4: 1.61rem;
  --taille-police-h5: 1.375rem;
  --taille-police-h6: 1.125rem;
  --taille-police-code: 0.875rem; /* 14px */
  --taille-police-pre: 1rem; /* 16px */
  --taille-police-legende: .9375rem; /* 15px */
  --taille-police-encadre: .875rem; /* 14px */
  --interlignage-corps: 1.5;
  --interlignage-entetes: 1.15;
  --graisse-police-corps: normal;
  --graisse-police-entetes: bold;
  --couleur-bordure-encadre: var(--violet);
  --couleur-fond-encadre: var(--violet-semi-transparent);

  --mesure: 80ch;
}