<!doctype html>
<html lang="{{ .Lang }}">
  {{- partial "head.html" . }}

  {{- block "head-after" . }}
  {{- end }}{{/* block */}}
<body>
  
  {{- block "header" . }}
  {{- partial "header.html" . }}
  {{- end }}{{/* define */}}

  <article class="contenu-principal" itemprop="articleBody">

    {{- block "header-page" . }}
    <header class="entete-page">
      <div class="surtitre-page">
        {{- .Page.CurrentSection.Title -}}
      </div>
      
      <h1 class="titre-page" itemprop="name headline">
        {{- .Title -}}
      </h1>
    {{- end }}{{/* block*/}}

    {{- block "content" . }}
    {{- partial "content.html" .Content -}}
    {{- end }}{{/* block */}}

    {{- block "footer" . }}
    {{- partial "footer.html" . }}
    {{- end }}{{/* block */}}
  </article>
</body>
</html>
