<!doctype html>
<html lang="{{ .Lang }}">
  {{- partial "head.html" . }}

  {{- $featureStyles := resources.Get "v2/styles/feature.scss" | toCSS (dict "outputStyle" "compact") | minify }}
  <link rel="stylesheet" href="{{ $featureStyles.RelPermalink }}">

  {{- block "head-after" . }}
  {{- end }}{{/* block */}}
<body>

  <div class="disposition-feature">
  
    {{- if .IsHome }}

      <h1 class="feature-titre petites-capitales-entetes">
        {{ .Site.Params.titrecourt }}
      </h1>

      <div class="feature-surtitre">Saison 04</div>

    {{- else }}
      <h1 class="feature-titre petites-capitales-entetes">
        {{ .Site.Params.titrecourt }}
      </h1>

      <div class="feature-surtitre">
        {{ .Title }}
      </div>

    {{- end }}{{/* if */}}

  </div>

</body>
</html>
