<!doctype html>
<html lang="{{ .Lang }}">
  {{ partial "head-impression.html" . }}
<body>
<main>

  <section>
    {{ if .Params.cartouche }}
    <section class="cartouche">
    <h1><span id="titre_site">{{ .Site.Title }}</span> — <span>{{ .Site.Params.periode }}</span></h1>
    <h2><span>{{ .Site.Author.name }}</span> — <span>{{ .Site.Author.courriel }}</span></h2>
    </section>
    <section class="content">
    {{ partial "content.html" .Content }}
    </section>

    {{ else }}
    <h1><span id="titre_site">{{ .Site.Title }}</span></h1>

      {{ if eq .Type "posts" }}
      <h2 itemprop="name headline" class="subtitle"><span id="titre">{{ .Title }}</span></h2>
      <p class="meta">
        <time itemprop="datePublished" datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat "2006-01-02" .Date }}</time>
        </p>
      {{ end }}
      {{ if eq .Type "pages" }}
      <h2 itemprop="name headline" class="subtitle"><span id="titre">{{ .Title }}</span></h2>
      <p class="meta">
        Date de la version : <time itemprop="dateModified" datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat "2006-01-02" .Date }}</time>
        </p>
      {{ end }}
      <span itemprop="articleBody" class="main-content">
        {{ if .Params.toc }}
        <h3>Table des matières</h3>
        {{ .TableOfContents }}
        {{ end }}
      {{ partial "content.html" .Content }}
      <p class="titre-site" id="titre_site">{{ .Site.Params.titrecourt }}</p>
      </span>
      {{ end }}
      <p class="pied"><em>{{ .Site.Params.copyright }} {{ .Site.Author.name }} — {{ .Site.Author.courriel }}</em></p>

    </section>
  </main>
</body>
</html>
