{{/*
  Bloc d'une séance individuelle (pour affichage sur les pages de liste, par exemple)
*/ -}}
<article itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting" class="{{if .Params.cancelled}}is-cancelled{{end}}">
  <div class="posts-surtitle">
    Séance {{ .Params.seance -}}
  </div>
  <h2 class="posts-title">
    {{- if .Params.cancelled }}
    <span>** annulée **</span>&nbsp;
    {{ end -}}
    {{- if .Params.visible }}<a href="{{ .Permalink }}" title="{{ .Title }}" itemprop="name url">{{ .Title }}</a>
    {{- else }}
    <span title="À venir !">
      {{ .Title }}
    </span>
    {{- end }}{{/* if */}}
    
    <div class="posts-separator"></div>
    
    <time datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat "2006-01-02" .Date }}</time>
  </h2>
  
  <div class="posts-description">
    {{ .Description }}
  </div>

  <div class="posts-meta">
    {{- if .Params.lieu }}
    &rarr; {{ .Params.lieu }}
    {{ end -}}
    {{- if .Params.heure_p }}
    ({{ .Params.heure_p }})
    {{ end -}}
  </div>

  <div class="posts-meta">
    {{- if .Params.formatrices }}
    &rarr; {{ delimit .Params.formatrices ", " }}
    {{ end -}}
</div>
</article>