{{/*
  Accordéon (pour révéler/masquer du contenu sélectivement)

  Paramètres possibles:
  - entete {chanîne de caractères}   En-tête de l'accordéon
  - content {chanîne de caractères}  Contenu (html) dans le corps de l'accordéon
  - ouvert {booléen}                 Si ouvert par défaut
*/}}

{{- $ouvert := .ouvert | default false }}
<section
  class="accordeon"
  {{ if $ouvert }}aria-expanded="true"{{ end }}
>
  <header class="accordeon__entete">
    <span class="accordeon__libelle">
      {{- .entete | safeHTML -}}
    </span>

    <button
      class="accordeon__bouton"
    >
      <span class="accordeon__texte-bouton--reduire">
        &minus;&nbsp;&nbsp;Réduire
      </span>
      <span class="accordeon__texte-bouton--afficher">
        &plus;&nbsp;&nbsp;Afficher
      </span>
    </button>
  </header>

  <div class="accordeon__contenu">
    {{- .content | safeHTML -}}
  </div>
</section>
