<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{ .Site.Params.Author }}">
  <title>{{ if eq .IsHome true }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
  <meta name="description" content="{{ if ne .Description "" }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
  {{- template "_internal/twitter_cards.html" . }}
  {{- template "_internal/opengraph.html" . }}
  {{- template "_internal/schema.html" . }}
  <link rel="canonical" href="{{ .Permalink | absURL }}">
  <link rel="dns-prefetch" href="https://www.google-analytics.com">
  <link href="https://www.google-analytics.com" rel="preconnect" crossorigin>
  <link rel="alternate" type="application/atom+xml" title="{{ .Site.Title }}" href="{{ .Site.BaseURL }}atom.xml" />
  <link rel="alternate" type="application/json" title="{{ .Site.Title }}" href="{{ .Site.BaseURL }}feed.json" />
  <link rel="shortcut icon" type="image/png" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNk+A8AAQUBAScY42YAAAAASUVORK5CYII=">
  {{- $styles := resources.Get "v2/styles/styles.scss" | toCSS (dict "outputStyle" "compact") | minify }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}">

  <!-- Scripts -->
  <!-- Composantes (TODO is plusieurs: concat) -->
  {{- $scriptAccordeon := resources.Get "v2/scripts/composantes/accordeon.js" }}
  <script src="{{ $scriptAccordeon.RelPermalink }}" defer></script>

  {{- if .IsHome -}}
    <script type="application/ld+json">
  {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ .Site.Title }}",
      "url": "{{ .Site.BaseURL }}",
      "description": "{{ .Site.Params.description }}",
      "thumbnailUrl": "{{ .Site.Params.Logo | absURL }}",
      "license": "{{ .Site.Params.Copyright }}"
  }
    </script>
{{- else if .IsPage }}
{{- $author :=  or (.Params.author) (.Site.Author.name) }}
{{- $org_name :=  .Site.Title }}
  <script type="application/ld+json">
  {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "articleSection": "{{ .Section }}",
      "name": "{{ .Title | safeJS }}",
      "headline": "{{ .Title | safeJS }}",
      "alternativeHeadline": "{{ .Params.lead }}",
      "description": "{{ if .Description }}{{ .Description | safeJS }}{{ else }}{{if .IsPage}}{{ .Summary  }}{{ end }}{{ end }}",
      "inLanguage": {{ .Site.LanguageCode | default "en-us" }},
      "isFamilyFriendly": "true",
      "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "{{ .Permalink }}"
      },
      "author" : {
          "@type": "Person",
          "name": "{{ $author }}"
      },
      "creator" : {
          "@type": "Person",
          "name": "{{ $author }}"
      },
      "accountablePerson" : {
          "@type": "Person",
          "name": "{{ $author }}"
      },
      "copyrightHolder" : "{{ $org_name }}",
      "copyrightYear" : "{{ .Date.Format "2006" }}",
      "dateCreated": "{{ .Date.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
      "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
      "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
      "publisher":{
          "@type":"Organization",
          "name": {{ $org_name }},
          "url": {{ .Site.BaseURL }},
          "logo": {
              "@type": "ImageObject",
              "url": "{{ .Site.Params.logo | absURL }}",
              "width":"32",
              "height":"32"
          }
      },
      "image": {{ if .Params.images }}[{{ range $i, $e := .Params.images }}{{ if $i }}, {{ end }}{{ $e | absURL }}{{ end }}]{{ else}}{{.Site.Params.logo | absURL }}{{ end }},
      "url" : "{{ .Permalink }}",
      "wordCount" : "{{ .WordCount }}",
      "genre" : [ {{ range $index, $tag := .Params.tags }}{{ if $index }}, {{ end }}"{{ $tag }}" {{ end }}],
      "keywords" : [ {{ range $index, $tag := .Params.tags }}{{ if $index }}, {{ end }}"{{ $tag }}" {{ end }}]
  }
  </script>
{{ end -}}

{{ range .AlternativeOutputFormats -}}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end }}

</head>
