/**
 * Composante accordéon
 */

.accordeon {
  --accordeon-couleur-decoration: var(--couleur-fond-secondaire);
  --accordeon-bordure: 1px solid var(--accordeon-couleur-decoration);
}
  .accordeon__entete {
    padding: .5rem .35rem;
    display: grid;
    grid-template-columns: auto [entete] 1fr [bouton];
    grid-template-rows: auto;
    align-items: baseline;
    gap: .5rem 0;

    line-height: 1.15;
    font-size: 0.875rem; /* 14 px */
    background-color: var(--accordeon-couleur-decoration);
  }
  .accordeon__bouton {
    /* reset styles bouton*/
    appearance: none;
    -moz-appearance: none;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    line-height: 1.05;
    cursor: pointer;
    font-family: sans-serif;

    grid-column-start: bouton;
    margin-inline-start: auto;
    padding: .25rem .35rem;

    text-transform: uppercase;
    font-size: 0.67rem;
    letter-spacing: .075em;
    color: var(--couleur-police-secondaire);
  }
  .accordeon__bouton:not(.js-actif) {
    display: none;
  }
  .accordeon__bouton.js-actif {
    display: inline-flex;
    flex-direction: row;
  }
  .accordeon__contenu {
    display: none;

    border-left: var(--accordeon-bordure);
    border-right: var(--accordeon-bordure);
    border-bottom: var(--accordeon-bordure);
  }
  .accordeon[aria-expanded] .accordeon__contenu {
    display: block;
  }
  .accordeon[aria-expanded] .accordeon__texte-bouton--reduire {
    display: inline;
  }
  .accordeon:not([aria-expanded]) .accordeon__texte-bouton--reduire {
    display: none;
  }
  .accordeon[aria-expanded] .accordeon__texte-bouton--afficher {
    display: none;
  }
  .accordeon:not([aria-expanded]) .accordeon__texte-bouton--afficher {
    display: inline;
  }