@font-face {
  font-family: "Sentient-Regular";
  src: url("/v2/fonts/Sentient-Regular.woff2") format("woff2"), url("/v2/fonts/Sentient-Regular.woff") format("woff"), url("/v2/fonts/Sentient-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Sentient-Italic";
  src: url("/v2/fonts/Sentient-Italic.woff2") format("woff2"), url("/v2/fonts/Sentient-Italic.woff") format("woff"), url("/v2/fonts/Sentient-Italic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Sentient-Medium";
  src: url("/v2/fonts/Sentient-Medium.woff2") format("woff2"), url("/v2/fonts/Sentient-Medium.woff") format("woff"), url("/v2/fonts/Sentient-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Sentient-MediumItalic";
  src: url("/v2/fonts/Sentient-MediumItalic.woff2") format("woff2"), url("/v2/fonts/Sentient-MediumItalic.woff") format("woff"), url("/v2/fonts/Sentient-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Sentient-Bold";
  src: url("/v2/fonts/Sentient-Bold.woff2") format("woff2"), url("/v2/fonts/Sentient-Bold.woff") format("woff"), url("/v2/fonts/Sentient-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Sentient-BoldItalic";
  src: url("/v2/fonts/Sentient-BoldItalic.woff2") format("woff2"), url("/v2/fonts/Sentient-BoldItalic.woff") format("woff"), url("/v2/fonts/Sentient-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
@page {
  size: letter;
  margin-left: 1.8cm;
  margin-right: 1.8cm;
  margin-top: 2cm;
  margin-bottom: 2.2cm;
  /* pied de page */
  @bottom-left {
    content: string(titre_site);
  }
  @bottom-center {
    content: string(titre);
  }
  @bottom-right {
    content: counter(page);
  }
}
@media print {
  body {
    font-family: "Sentient-Regular", serif;
    font-size: 0.875em;
  }
  p, li {
    line-height: 1.5em;
  }
  em, i {
    font-family: "Sentient-Italic", serif;
  }
  a, a:focus, a:hover {
    color: black;
  }
  img {
    width: 100%;
  }
  #titre_cours {
    string-set: titre_cours content(text);
  }
  #titre {
    string-set: titre content(text);
  }
  #titre_site {
    string-set: titre_site content(text);
  }
  .titre-site {
    visibility: hidden;
  }
  h1 {
    font-family: "Sentient-Bold", serif;
    font-weight: 700;
  }
  h2, h3, h4, h5 {
    font-family: "Sentient-Medium", serif;
    font-weight: 500;
    page-break-after: avoid;
    page-break-inside: avoid;
  }
  h2.subtitle {
    text-transform: uppercase;
    font-size: 2em;
    margin-top: 0em;
  }
  h2 {
    font-size: 2em;
    margin-top: 1.5em;
    margin-bottom: 1em;
  }
  h3 {
    text-transform: uppercase;
    font-size: 1.25em;
    margin-top: 1.5em;
    margin-bottom: -0.5em;
  }
  h4 {
    font-size: 1.25em;
    margin-top: 1.5em;
  }
  h2:first-child, h3:first-child, h4:first-child {
    margin-top: 0;
  }
  .cartouche h1 {
    margin-top: 0em;
    font-size: 1.75em;
  }
  .cartouche h2 {
    font-size: 1.125em;
  }
  .content h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
  .content p {
    text-align: justify;
    hyphens: auto;
  }
  .mention {
    margin-top: 5em;
  }
  .main-content {
    display: block;
  }
  hr {
    visibility: hidden;
    break-after: page;
  }
  /* gestion des citations */
  .hugo-cite-intext {
    display: inline-block;
    vertical-align: baseline; /*compensate for lower height */
    position: relative;
    /*font-size: .85em; */ /* reduce to avoid some breaks */
  }
  .hugo-cite-intext a {
    text-decoration: none;
    color: inherit;
  }
  .hugo-cite-intext .hugo-cite-citation {
    visibility: hidden;
    background-color: #ffffff;
    color: inherit;
    border: 1px solid currentColor;
    padding: 1rem;
    position: absolute;
    width: 350px;
    max-width: 100vw;
    z-index: 1;
    bottom: 140%;
    left: 0;
    margin-left: -50px;
    z-index: 2;
    transition: visibility 0s 0.3s, transform 0.3s ease 0s, opacity 0.3s ease 0s;
    opacity: 0;
    transform: translateY(-8px);
  }
  .visually-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
  }
  .appel {
    display: none;
  }
  .hugo-cite-bibliography dd {
    margin-left: 0;
    margin-bottom: 0.875em;
  }
  .hash {
    visibility: hidden;
  }
  .break {
    page-break-after: always;
  }
}
