/**
Disposition "feature" (vignette)
*/
html {
  background-color: #333;
}
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.disposition-feature {
  margin: auto; /* centrer */
  padding: 18% 4% 8%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
  aspect-ratio: 1.91 / 1;
  width: 1200px; /* largeur fixe pour captures d'écran */

  background-color: var(--couleur-fond);
  color: var(--couleur-police-corps)
}

.feature-titre {
  margin: 0 0 8%;
  font-size: 4.25rem;

  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.035em;
  border: 0;
  text-decoration: wavy underline var(--couleur-soulignement-liens);
}

.feature-surtitre {

  font-size: 2.25rem; /* taille de caractères fluide */
  font-family: var(--police-details);
  letter-spacing: 0.035em;
  color: var(--couleur-surtitre);
  font-weight: bold;
  text-transform: uppercase;
}